* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

.free-shiping-add {
  background: #d8bf95;
  height: 40px;
  width: 100%;
}

.free-shiping-add-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 12px;
  font-size: 14px;
  line-height: 18px;
}

.header-content-menu-box {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  background: white;
  border: none;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.big-title-in-menu {
  width: 160px;
  height: 45px;
  margin-top: 15px;
}

.big-title-in-menu-box {
  position: relative;
  left: 7%;
  right: 50%;
}

.franche-lang-swithcer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #c4c4c4;
  background: white;
  border: none;
}

.element-in-swithcer {
  color: black;
  width: 6px;
}

.english-lang-swithcer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #c4c4c4;
  background: white;
  border: none;
}

.english-lang-swithcer:hover {
  color: black;
}

.franche-lang-swithcer:hover {
  color: black;
}

.number-in-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  padding-top: 30px;
}

.language-switcher {
  padding-top: 30px;
}

.block-with-img-section {
  display: flex;
  justify-content: center;
}

.img {
  width: 580px;
  height: 690px;
  background-image: url(./images/first-img-with-ring.png);
  background-size: cover;
}

.img-last {
  width: 580px;
  height: 690px;
  background-image: url(./images/img-with-nigga.png);
  background-size: cover;
}

.text-in-big-img {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  position: absolute;
  top: 80%;
  left: 5%;
  color: #ffffff;
}

.text-in-big-img-last {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  top: 80%;
  left: 70%;
  text-transform: capitalize;
  color: #ffffff;
}

.big-text-part {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
}

.little-text-part {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.right-part-button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  color: #000000;
}

.block-with-jewerlly-info-wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.little-text-part {
  padding-top: 30px;
}

.title-in-nav {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.box-with-jewerlly-products-nav {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.block-with-neckale-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.price {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.block-with-jewerlly-products-content {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.menu-btn-product {
  background: white;
  border: none;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 18px;

  color: #000000;
}

.bottom-info-row {
  display: flex;
  justify-content: space-between;
}

.block-about-t-shirt {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.right-text-part-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  color: #000000;
}

.right-text-part-subtext {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding-bottom: 60px;
  padding-left: 40px;
}
